.box-model {
    padding: 3em 0;
    text-align: center;
    &__title {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1em;
        @media screen and (min-width: 768px) {
            font-size: 1.8rem;
        }
    }
    &__container {
        margin-left: auto;
        margin-right: auto;
        background-color: $pink-color;
        border-radius: .5em;
        width: 90%;
        padding-bottom: 1em;
        @media screen and (min-width: 768px) {
            width: 80%;
        }
    }
    &__image {
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        max-width: 100%;
        object-fit: cover;
        filter: saturate(0);
        transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
        &:hover {
            filter: saturate(2);
        }
    }
    &__description {
        padding-top: .5em;
    }
    @media screen and (min-width: 768px) {
        padding: 4em 0;
    }
}