.grid-nm {
    padding-top: 4em;
}

.grid {
    padding: 2em 0 0 0;
    display: grid;
    @media screen and (min-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    &__title:first-of-type {
        @extend .box-model__title;
    }
    &__text {
        font-size: 1.2rem;
        @media screen and (min-width: 768px) {
            font-size: 1.3rem;
        }
    }
    &__lead {
        @extend .grid__text;
    }
}

.grid-menu {
    background-color: $yellow-color;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
        width: 100%;
        margin-bottom: 0;
        grid-column: 1/3;
        grid-row: 1/2;
    }
    &__item {
        padding: 1em;
        text-align: center;
        text-decoration: none;
        color: $tomato-color;
        font-size: 1.1rem;
        transition: .5s cubic-bezier(0.215, 0.610, 0.355, 1);
        @media screen and (min-width: 1200px) {
            flex: 1 100%;
        }
        &:hover {
            background-color: $tomato-color;
            color: $pink-color;
        }
    }
}

.grid-header {
    background-color: $pink-color;
    padding: 2em 0;
    @media screen and (min-width: 1200px) {
        padding: 8em 0;
        grid-column: 1 / 3;
    }
    .grid__title {
        margin: 0;
    }
    .grid__lead {
        text-align: center;
    }
}

.grid__main {
    padding: 2em;
    @media screen and (min-width: 1200px) {
        grid-row: 3 / 4;
        grid-column: 1 /2;
    }
    .grid__text {
        line-height: 1.6;
    }
}

.grid__trends {
    background-color: $dark-color;
    color: $white-color;
    padding: 3em 0;
    @media screen and (min-width: 1200px) {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.trends {
    list-style: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    &__item {
        padding: .5em;
        border-bottom: 1px solid $yellow-color;
        text-align: center;
    }
}

.grid-footer {
    background-color: $white-color;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1200px) {
        grid-column: 1 /3;
        grid-row: 5 /6;
    }
    &__texts {
        font-size: .8rem;
        .grid__link {
            color: $tomato-color;
            text-decoration: none;
            font-weight: 400;
        }
    }
}